.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-1--logo {
}
.nav-2--btn {
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 15px;
  border: 2px solid black;
  font-weight: 700;
}
section.center {
  width: 50%;
  align-self: center;
}
.login {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.mid {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.line {
  width: 140px;
}
.text {
  font-size: 17px;
  font-weight: 700;
}
.login-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.input {
  /* width: 30%; */

  padding: 10px 5px;
  border: 3px solid transparent;
  border-radius: 5px;
  text-align: center;

  /* Font */
  font-size: 24px;
  color: rgba(0, 0, 0, 0.42);
  font-style: normal;
  font-weight: 700;
}
.input:focus,
.input:focus-visible {
  outline: none;
}
.btn-submit {
  align-self: center;
  width: fit-content;
  padding: 16px 24px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(141deg, #27eecb 0%, #12d2d2 100%);
  box-shadow: 0px 7px 20px 0px rgba(30, 226, 206, 0.25);

  font-size: 16px;
  font-weight: 700;
  color: black;
}

/* NAVBAR User details  */
.user {
  display: flex;
  gap: 15px;
  align-items: center;
}

.user-name {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
.user-image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
