@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #1b1b1b;
  color: white;

  padding: 20px 40px 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.cr-p {
  cursor: pointer;
}

.loader {
  border: 5px solid #f3f3f36f;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #5555555c;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  position: absolute;
  top: 40%;
  left: 40%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ==============SCROLL BAR============= */
/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 6px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #4e4e4e;
  /* Background color of the track */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  /* Color of the thumb */
  border-radius: 4px;
  /* Border radius of the thumb */
}

/* Change the appearance on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
  /* Color of the thumb on hover */
}

/* Customize the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #4e4e4e;
  /* Background color of the corner */
}
